PORT=3000
NODE_ENV=production

WOOCOMMERCE_URL=https://furniture.sastredigital.com
WOOCOMMERCE_CONSUMER_KEY=ck_8572f3daffd43d8b4a57336a3f12475a94b1455f
WOOCOMMERCE_CONSUMER_SECRET=cs_58f46917270e9cba1afc963e6f3e8803b055a4eb

node_modules
.env
npm-debug.log
.DS_Store
